Source: indicator-nameday
Section: utils
Priority: extra
Maintainer: GdH <georgdh@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, gnome-common, itstool, yelp-tools, valac, libappindicator3-dev, libgtk-3-dev
Standards-Version: 4.0.3
Homepage: <http://gdhnotes.blogspot.com>

Package: indicator-nameday
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Name Day Indicator for Ubuntu panel 
 Shows an actual name in the panel and names for next days in indicator's menu.
 Supports multiple names lists, search and list public holidays.
 It also calculates Easter Mondays and Big Fridays.
